/* UIs supported, lappy and mobile */

* {
    transition: 0.3s all;
    font-family: 'Helvetica';
}

header {
    padding: 14px;
    text-align: center;
    font-size: 150%;
    font-family: 'Dosis';
    /* background: #ffffff; */
    background: #e85858;
    color: #ffffff;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    height: 92vh;
    width: 100%;
}

#main {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    /* background: thistle; */
}

#header_btn, #back {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 110%;
    position: absolute;
    top: 1.5%;
    left: 92%;
    /* display: none; */
}

#header_btn:hover, #back:hover {
    color: #ef9a9a
}

/* MAIN UI COMPONENTS */

#home {
    text-align: center;
}

#home img {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 8px;
}

#desc {
    display: block;
    margin: 0 auto;
    width: 60%;
    text-align: left;
    font-size: 85%;
    line-height: 23px;
}

#lang_label {
    margin-top: 12px;
    margin-bottom: 25px;
}

#home select, #home button {
    padding: 10px;
}

#home select {
    margin-right: 30px;
    width: 20%;
}

#home button {
    width: 12%;
}

#home button {}

#by {
    margin-top: 35px;
    font-family: 'Dosis';
}

#levels img {
    width: 30%;
    margin-top: 10%;
    position: relative;
    left: 60px;
}

#levels div {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 60px;
    left: 27%;
}

.green {
    background: rgb(87, 230, 87) !important;
    color: #fff !important;
}

#levels button {
    display: block;
    color: rgb(119, 119, 119);
    margin: 0 auto;
    margin-bottom: 14px;
    padding: 20px;
    width: 200%;
    font-size: 98%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgb(223, 223, 223);
}

#levels button:hover {
    box-shadow: 0px 0px 3px 0px rgb(231, 231, 231);
    color: rgb(49, 49, 49);
}

.blk {
    /* text-align: center; */
    padding-top: 30px;
}

.blk button {

    transform: translateX(30%);
    vertical-align: top;
    box-sizing: border-box;
    width: 260px;
    height: 100px;
    display: inline-block;
    padding: 15px;
    margin: 7px;
    background: #fff;
    font-size: 105%;
    color: rgb(119, 119, 119);
    box-shadow: 0px 0px 6px 0px rgb(223, 223, 223);
}

.blk button:hover {
    box-shadow: 0px 0px 3px 0px rgb(231, 231, 231);
    color: rgb(34, 34, 34);
}

.back {
    font-size: 105%;
    display: block !important;
    margin: 0 auto !important;
    background: #f7423f !important;
    color: #fff !important;
    width: 20% !important;
    height: 50px !important;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -20%) !important;
    box-shadow: 0px 0px 6px 0px rgb(223, 223, 223);
}

.back:hover {
    color: #fff !important;
    background: #ec3f3d !important;
    box-shadow: 0px 0px 3px 0px rgb(231, 231, 231);

}

#ques {
    width: 80%;
}

.ffit{
    margin-left: 150px;
}

#qimg{
    display: inline-block;
    width: 80%;
    background: #fff;
    margin-top: 50px;
}

#qspin {
    display: inline-block;
    padding: 100px 140px 100px 140px;
    background: #fff;
    margin-left: 80px;
    margin-top: 40px;
}

#aspin {
    width: 260px;
    margin: 0 auto;
    display: inline-block;
    padding: 30px;
    background: #fff;
    margin-top: 10px;
    margin-left: 10px;
}

#qr {
    width: 15%;
    position: absolute;
    display: inline-block;
}

.nv {
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 10px;
    width: 100%;
    margin-bottom: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgb(223, 223, 223);
}

.nv:hover {
    box-shadow: 0px 0px 3px 0px rgb(231, 231, 231);
}

#q, #count {
    font-size: 125%;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

.navb {
    width: 20%;
}

.overlay {
    display: none;
    font-size: 95%;
    text-align: center;
    position: fixed;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    font-family: 'Helvetica';
    color: #5a5a5a;
    background-color: transparent; 
    z-index: 2;
    border-radius: 30px;
    cursor: pointer;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay div {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.918);
    padding: 50px;
    width: 50%;
    height: 40vh;
    margin-top: 50px;
}

.overlay button {
    padding: 15px;
    margin-top: 35px;
}


#ans {
    padding: 30px;
    text-align: center;
}

#aimg, #qimg {
    min-height: 240px;
}


#lbl {
    font-size: 135% !important;
    margin-bottom: 30px;
}

#aimg {
    width: 65%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    /* left: -20%; */
}

#ar{
    /* position: relative; */
    /* left: 25%; */
}

#next {
    padding: 15px !important;
    display: inline-block;
    width: 25%;
    background: rgb(67, 186, 67) !important;
    color: #fff;
}

#store {
    padding: 70px;
    background: #fff;
    color: #5a5a5a;
    text-align: center;
    line-height: 28px;
    display: block;
    margin: 0 auto;
    margin: 30px;
    margin-top: 80px;
}

#store a {
    margin-top: 20px;
    display: block;
    padding: 15px;
    background: rgb(67, 186, 67);
    color: #fff;
    text-decoration: none;
}

#settings img {
    width: 25%;
    margin-top: 30px;
}


#settings a {
    color: rgb(9, 223, 169);
    text-decoration: none;
}

#settings {
    text-align: center;
}

#settings p {
    margin-bottom: 30px;
    margin-top: 30px;
}

#rpg, #rpl{
    width: 20%;
    display: inline-block !important;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
}

#settings button:hover {
    background: #ef9a9a;
    color: #fff;
}

/* UIT Components */

#header_btn, #back, .e-ans, .e-done, #spin, .e-net, #ans, #store, #aspin, #qspin {
    display: none;
}

/* Phone UI */

/* Old bezel era */

@media only screen and (max-width: 800px) {

    #main, #back, header {
        display: none;
    }

    #store {
        display: block !important;
    }



    /* header {
        font-size: 110%;
    }
    #home img {
        width: 30%;
        margin-top: 10%;
    }
    #desc {
        margin-bottom: 40px;
        width: 90%;
    }
    #lang_label {
        margin-bottom: 40px;
    }
    #home select {
        width: 40%;
    }
    #home button {
        width: 20%;
    }
    #levels {
        text-align: center;
    }
    #levels img {
        width: 40%;
        margin-top: 30px;
        position: initial;
    }
    #levels div {
        display: block;
        margin: 0 auto;
        position: initial;
        margin-top: 20px;
    }
    #levels button {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 15px;
        width: 90%;
        font-size: 88%;
        background: #ffffff;
    }

    .blk {
        text-align: center;
    }
    .blk button {
        vertical-align: top;
        line-height: 25px;
        box-sizing: border-box;
        width: 160px;
        height: 120px;
        display: inline-block;
        padding: 15px;
        margin: 8px;
        background: #fff;
        font-size: 105%;
        color: rgb(119, 119, 119);
        box-shadow: 0px 0px 6px 0px rgb(223, 223, 223);
        transform: translateX(0%);
    }
    .blk button:hover {
        box-shadow: 0px 0px 3px 0px rgb(231, 231, 231);
        color: rgb(34, 34, 34);
    }

    .back {
        position: relative  !important;
        /* display: block !important; */
        /* margin: 0 auto !important; */
        background: #f7423f !important;
        color: #fff !important;
        width: 40% !important;
        height: 50px !important;
        margin-top: 40px  !important;
        bottom: 30px;
        top: 20px;
        transform: translateX(-125%) !important;
    }
    .back:hover {
        color: #fff !important;
        background: #ec3f3d !important;
    } */
}

/* 16:9 or more */

/* @media only screen and (max-width: 700px) and (min-height: 750px) {
    #home img {
        width: 30%;
        margin-top: 13%;
    }
    #desc {
        margin-top: 60px;
        margin-bottom: 70px;
        width: 90%;
        font-size: 92%;
        line-height: 27px;
    }
} */